@model IEnumerable<ProyectoIntegrador.Models.Nuevo>

@{
    ViewBag.Title = "Anuncios O informacion";
}

<h2>anuncios</h2>

<p>
    @Html.ActionLink("Ingrear Informativo", "Create")
</p>
<table class="table table-dark">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Titulo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DescripcionCorta)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Image)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Content)
        </th>
       
       
       
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Titulo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DescripcionCorta)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Image)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Content)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CreateDate)
        </td>
       
    
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.NuevosId },new { @class = "btn btn-success" }) |
            @Html.ActionLink("Detalles", "Details", new { id=item.NuevosId },new { @class = "btn btn-info" }) |
            @Html.ActionLink("Eliminar", "Delete", new { id=item.NuevosId },new { @class = "btn btn-danger" })
        </td>
    </tr>
}

</table>
