@model IEnumerable<ProyectoIntegrador.Models.Nuevo>
@{
    ViewBag.Title = "INICIO DP";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


    <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
            <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner" role="listbox">
            @{int cont = 0; }
            @foreach (var item in Model) {


                var itemDinamico = cont++ == 0 ? "item active" : "item";
            <div class="@itemDinamico">
                <img src="@Url.Content("~/Media/"+item.Image)" class="d-block w-100" alt="@(item.Titulo)">
                <div class="carousel-caption d-none d-md-block">
                    <h5>@(item.Titulo)</h5>
                    <p>@(item.DescripcionCorta)</p>
                </div>
            </div>}


            
        </div>

        
        <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>